
.App {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
button{
  padding-right: 40px;
}
h1{
  text-align: center;
  padding-left: 30px;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  text-align: center;
  flex: 2;
  border: 1px solid #ccc;
  margin:30px 250px;
  padding: 20px;
  width: fit-content;
  border-radius: 10px;
  text-align: left;
  align-items: start;
}

li.unread {
  font-weight: bold;
}

li.read {
  color: #999;
}

@media (max-width:876px) {
  .App-header {
    flex-direction: column;
  }
  li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin:20px 0;
  }
}
span{
  color: #999;
  text-align:left;
  margin-left: 20px;
}
p{
  color: #464646;
  margin-left: 20px;
}
h4{
  margin-left: 20px;
}
.btn{
  background-color: rgb(30, 111, 161);
  color: aliceblue;
  padding:3px 6px;
  border-radius: 50%;
  border: 1px solid #efefef;
}
.button{
  color: #efefef;
  background-color: #efefef;
}